# ALIASES

# opens the stuff
alias aliases='${EDITOR} ~/.custom/.aliases'
alias vscaliases='code ~/.custom/.aliases'
alias vsccustom='code -n ~/.custom/'

# gets you to the stuff
alias custom='cd ~/.custom/'

# domain-specific aliases
# comment out lines to remove them from what's loaded by run commands
source ~/.custom/.git_aliases
source ~/.custom/.pop-os_aliases
# source ~/.custom/.windows_aliases
source ~/.custom/.sh-config_aliases
source ~/.custom/.ascii_aliases
source ~/.custom/.pokemon_aliases

# ---

alias a='alias'
alias an='alias'

alias l='l'
alias ll='ll'
alias lll='lll'
alias llll='llll'
alias cl='cdl'
alias mcd='mdcd'
alias saw='sauu'
alias mf='makefile'
alias rf='removefile'
alias md='makedirectory'
alias rd='removedirectory'
alias toss='tossout'
alias lt='ltossed'

# vscode
alias vsc='code'

# easier/more english-like common utilities

alias back='cd ..'
alias to='cd'
alias home='cd ~'
alias root='cd /'
alias last='cd -'

alias builds='cd ~/builds'
alias sandbox='cd ~/builds/sandbox'
alias trash='cd ~/.local/share/Trash/files/'
alias tossed='cd ~/.local/share/Trash/files/tossed/'

alias apt='sudo apt' # overwrites original for copy-paste reasons
alias sapt='sudo apt'
alias supt='sudo apt'
alias apti='sudo apt install'
alias sauu='sudo apt update && sudo apt upgrade -y'

alias here='pwd'
alias clr='clear'
alias help='man'
alias funcs='print -l ${(ok)functions}\n'
alias o='open'

alias s='grep -ir'
alias search='grep -ir'

alias f='find . -iname'
alias count='find . -type f | wc -l'

alias ..l='.. && l'
alias ldot='ls -ld .*' 
alias lsize='ls -1AhsS'

function l() {
  ls -1A --group-directories-first
  echo ---
  echo \(listed with directories first\)
}

function ll() {
  la -t
  echo ---
  echo \(listed by last modified\)
}

function lll() {
  la --group-directories-first
  echo ---
  echo \(listed with directories first\)
}

function llll() {
  lsa -F
  echo ---
  echo \(listed alphabetically\)
}

function cdl() {
  cd "$1"
  l
}

function look() {
  ls -1A --group-directories-first "$1"
  echo ---
  echo \(listed with directories first\)
}

function mdcd() {
  makedirectory "$1"
  cd "$1"
}

function copy() {
  cp -irv "$1" "$2"
  echo hey, you copied that \""$1"\" thing to \""$2"\" using the \*cp\* command!
}

function move() {
  mv -iv "$1" "$2"
  echo hey, you moved that \""$1"\" thing to \""$2"\" using the \*mv\* command!
}

function rename() {
  mv -iv "$1" "$2"
  echo hey, you renamed that \""$1"\" thing to \""$2"\" using the \*mv\* command!
}

function makefile() {
  touch "$1"
  echo hey, you just made that \""$1"\" file using the \*touch\* command. yay!
}

function removefile() {
  rm -Iv "$1"
  echo hey, you just removed that \""$1"\" file using the \*rm\* command!
}

function makedirectory() {
  mkdir -pv "$1"
  echo hey, you just made that \""$1"\" directory using the \*mkdir\* command. yay!
}

function removedirectory() {
  rm -Ivr "$1"
  echo hey, you just removed that \""$1"\" directory using the \*rm\* command, NOT rmdir!
}

# toss things into the trash instead of hard deleting
function tossout() {
  md ~/.local/share/Trash/files/tossed/ &&
  mv -ivt ~/.local/share/Trash/files/tossed/ "$1" &&
  echo hey, you just tossed that \""$1"\" thing in the trash using the \*mv\* command. so stinky!
}

# lists what's in the trash
function ltrash() {
  la --group-directories-first ~/.local/share/Trash/files/
  echo ---
  echo \(listed with directories first\)
}

# lists what's in tossed
function ltossed() {
  la --group-directories-first ~/.local/share/Trash/files/tossed/
  echo ---
  echo \(listed with directories first\)
}

# ---

# frome the internet

# see the top ten commands you run most
function topten() {
  history | awk '{cmd[$2]++} END {for(elem in cmd) {print cmd[elem] " " elem}}' | sort -n -r | head -10
}

# see the top twenty commands you run most
function toptwenty() {
  history | awk '{cmd[$2]++} END {for(elem in cmd) {print cmd[elem] " " elem}}' | sort -n -r | head -20
}

# see the top fifty commands you run most
function topfifty() {
  history | awk '{cmd[$2]++} END {for(elem in cmd) {print cmd[elem] " " elem}}' | sort -n -r | head -50
}

# ---

# new stuff here
source ~/.custom/.new_aliases

# ---
