# ALIASES

# opens the stuff
alias aliases='${EDITOR} ~/.custom/.aliases'
alias vscaliases='code ~/.custom/.aliases'
alias vsccustom='code -n ~/.custom/'

# gets you to the stuff
alias custom='cd ~/.custom/'

# domain-specific aliases
# comment out lines to remove them from what's loaded by run commands
source ~/.custom/.git_aliases
# source ~/.custom/.ls_aliases
source ~/.custom/.pop-os_aliases
# source ~/.custom/.windows_aliases
source ~/.custom/.sh-config_aliases
source ~/.custom/.pokemon_aliases

# ---

alias a='alias'
alias an='alias'

alias cl='cdl'
alias mcd='mdcd'
alias saw='sauu'
alias mf='makefile'
alias rf='removefile'
alias md='makedirectory'
alias rd='removedirectory'

# vscode
alias vsc='code'

# cd and ls

alias back='cd ..'
alias to='cd'
alias home='cd ~'
alias root='cd /'
alias last='cd -'

alias builds='cd ~/builds'
alias desktop='cd ~/Desktop'
alias documents='cd ~/Documents'
alias downloads='cd ~/Downloads'

alias l='_l() {
  ls -1A --group-directories-first &&
  echo --- &&
  echo \(listed with directories first\) ;
}; _l'
alias ll='_ll() {
  la -got &&
  echo --- &&
  echo \(listed by last modified\) ;
}; _ll'
alias lll='_lll() {
  la -go --group-directories-first &&
  echo --- &&
  echo \(listed with directories first\) ;
}; _lll'
alias llll='_llll() {
  lsa -F &&
  echo --- &&
  echo \(listed alphabetically\) ;
}; _llll'

# go up and down directories and list contents
alias ..l='.. && l'
alias cdl='_cdl() { cd "$1" && l ; }; _cdl'

# make a directory and cd into it
alias mdcd='_mdcd() { md "$1" && cd "$1" ; }; _mdcd'

# easier/more english-like common utilities

alias apt='sudo apt' # overwrites original for copy-paste reasons
alias sapt='sudo apt'
alias supt='sudo apt'
alias apti='sudo apt install'
alias sauu='sudo apt update && sudo apt upgrade -y'

alias here='pwd'
alias clr='clear'
alias help='man'
alias funcs='print -l ${(ok)functions}\n'
alias o='open'

alias s='grep -ir'
alias search='grep -ir'

alias f='find . -iname'
alias count='find . -type f | wc -l'

alias copy='_copy() {
  cp -irv "$1" "$2" &&
  echo hey, you COPIED that \""$1"\" thing using the \*cp\* command! ;
}; _copy'

alias move='_move() {
  mv -iv "$1" "$2" &&
  echo hey, you MOVED that \""$1"\" thing using the \*mv\* command! ;
}; _move'

alias rename='_rename() {
  mv -iv "$1" "$2" &&
  echo hey, you RENAMED that \""$1"\" thing using the \*mv\* command! ;
}; _rename'

alias makefile='_makefile() {
  touch "$1" &&
  echo hey, you just created that \""$1"\" file using the \*touch\* command. yay! ;
}; _makefile'
# alias mkf='makefile'

alias removefile='_removefile() {
  rm -Iv "$1" &&
  echo hey, you just removed that \""$1"\" thing using the \*rm\* command! ;
}; _removefile'
# alias rmf='removefile'

alias makedirectory='mkdir -pv'
# alias mkd='makedirectory'

alias removedirectory='_removedirectory() {
  rm -Ivr "$1" &&
  echo hey, you just removed that \""$1"\" directory using the \*rm\* command, NOT rmdir! ;
}; _removedirectory'
# alias rmd='removedirectory'
# alias rmdir='removedirectory'

# ---

# see the top ten commands you run most
function topten() {
  history | awk '{cmd[$2]++} END {for(elem in cmd) {print cmd[elem] " " elem}}' | sort -n -r | head -10
}

# see the top twenty commands you run most
function toptwenty() {
  history | awk '{cmd[$2]++} END {for(elem in cmd) {print cmd[elem] " " elem}}' | sort -n -r | head -20
}

# see the top fifty commands you run most
function topfifty() {
  history | awk '{cmd[$2]++} END {for(elem in cmd) {print cmd[elem] " " elem}}' | sort -n -r | head -50
}
