# ALIASES

alias aliases='${EDITOR} ~/.custom/.aliases'
alias vscaliases='code ~/.custom/.aliases'

alias custom='cd ~/.custom/'
alias vsccustom='code -n ~/.custom/'

# uncomment the domain-specific aliases you want to use
source ~/.custom/.ascii_aliases
source ~/.custom/.git_aliases
source ~/.custom/.pokemon_aliases
source ~/.custom/.pop-os_aliases
source ~/.custom/.sh-config_aliases
# source ~/.custom/.windows_aliases

# ---

alias a='alias'
alias an='alias'

# nano
alias nanorc='${EDITOR} ~/.nanorc'
alias vscnanorc='code ~/.nanorc'
alias n='nano'

# vscode
alias vsc='code'

# locations
alias home='cd ~'
alias root='cd /'
alias repos='cd ~/repos'
alias sandbox='cd ~/repos/sandbox'
alias tossed='cd ~/.local/share/Trash/files/tossed/'
alias trash='cd ~/.local/share/Trash/files/'

# 'apt' overwritten for copypaste reasons
alias apt='sudo apt'
alias apti='sudo apt install'
alias sauu='sudo apt update && sudo apt upgrade -y'
alias saw='sauu'

# easier/more English-like commands
alias back='cd ..'
alias clr='clear'
alias count='find . -type f | wc -l'
alias f='find . -iname'
alias help='man'
alias here='pwd'
alias last='cd -'
alias o='open'
alias to='cd'
alias search='grep -ir'
alias s='grep -ir'

function copy() {
  cp -irv "$1" "$2"
  echo hey, you copied that \""$1"\" thing to \""$2"\" using the \*cp\* command!
}

function move() {
  mv -iv "$1" "$2"
  echo hey, you moved that \""$1"\" thing to \""$2"\" using the \*mv\* command!
}

function rename() {
  mv -iv "$1" "$2"
  echo hey, you renamed that \""$1"\" thing to \""$2"\" using the \*mv\* command!
}

# create and remove files and directories
alias md='makedirectory'
alias mf='makefile'
alias rd='removedirectory'
alias rf='removefile'

function makedirectory() {
  mkdir -pv "$1"
  echo hey, you just made that \""$1"\" directory using the \*mkdir\* command. yay!
}

function makefile() {
  touch "$1"
  echo hey, you just made that \""$1"\" file using the \*touch\* command. yay!
}

function removedirectory() {
  rm -Ivr "$1"
  echo hey, you just removed that \""$1"\" directory using the \*rm\* command, NOT rmdir!
}

function removefile() {
  rm -Iv "$1"
  echo hey, you just removed that \""$1"\" file using the \*rm\* command!
}

# ls
alias l='l' 
alias ll='ll' 
alias lll='lll' 
alias llll='llll' 
alias ldot='ls -ld .*' 
alias lsize='ls -1AhsS'
alias lt='ltossed'

function l() {
  ls -1A --group-directories-first
  echo ---
  echo \(listed with directories first\)
}

function ll() {
  la -t
  echo ---
  echo \(listed by last modified\)
}

function lll() {
  la --group-directories-first
  echo ---
  echo \(listed with directories first\)
}

function llll() {
  lsa -F
  echo ---
  echo \(listed alphabetically\)
}

function look() {
  ls -1A --group-directories-first "$1"
  echo ---
  echo \(listed with directories first\)
}

function ltossed() {
  la --group-directories-first ~/.local/share/Trash/files/tossed/
  echo ---
  echo \(listed with directories first\)
}

function ltrash() {
  la --group-directories-first ~/.local/share/Trash/files/
  echo ---
  echo \(listed with directories first\)
}

# toss things into the trash instead of hard deleting them
function toss() {
  md ~/.local/share/Trash/files/tossed/ &&
  mv -ivt ~/.local/share/Trash/files/tossed/ "$1" &&
  echo hey, you just tossed that \""$1"\" thing in the trash using the \*mv\* command. so stinky!
}

# see the top fifty commands you run most
function topcommands() {
  history | awk '{cmd[$2]++} END {for(elem in cmd) {print cmd[elem] " " elem}}' | sort -n -r | head -50
}

# copies a .local_aliases template to the correct location
function localizeit() {
  cp -irv ~/.custom/.local_aliases ~/.local/.local_aliases
}

# ---

# more aliases you can use
# source ~/.local/.local_aliases
source ~/.custom/.new_aliases
