# ALIASES

## instructions

#    to include these aliases in your linux environment (WSL, WSL2, Ubuntu, Debian etc):
# 1) add this file to your home directory, so that it's located at `~/.aliases`
# 2) add the following line of code (besides the hashtag [#]) to the bottom of your `.bashrc` file,
#    located at `~/.bashrc`:

#    source $HOME/.aliases

#    which will make it so that this file gets automatically sourced whenever you open your terminal
# 3) exit out of your terminal and open up a new one
# 4) that's it! to confirm this file has been sourced correctly, try running `thanks`
#    you should get a message that says "you are so welcome!"
#    if you do, you did everything right! congrats!
#    give yourself a pat on the back. savor it.
# 5) try out some of the aliases below in your own repo
# 6) see the bottom of this file to learn about creating your own custom aliases

# ---

# sets nano as your terminal editor
export EDITOR='nano'

# sources (reloads/reinitializes) your `.bashrc` file, which in turn sources this file
alias source_aliases='source ~/.bashrc && echo hey, you sourced .bashrc, yay!'

# opens this file in your terminal editor
alias nano_aliases='nano ~/.aliases'

# opens this file in VS Code
alias vscode_aliases='code ~/.aliases'

# ---

# plain English vocabulary
alias home='cd ~'
alias root='cd /'
alias back='cd ..'
alias last='cd -'
alias help='man'
alias here='pwd'
alias list='ls -1A --group-directories-first && echo --- && echo \(listed with directories first\)'

# gets you back and forth between the Windows and Linux file systems
alias linux='cd ~'
alias windows='cd /mnt/c/Users/'

# useful stuff
alias apt='sudo apt'
alias sauu='sudo apt update && sudo apt upgrade -y'
alias vscode='code -n .'
alias explorer='explorer.exe .'

# ---

## add your own aliases here!

# this example prints 'you are so welcome!' when you call it, try it out!
alias thanks='echo you are so welcome!'
